body, html{
    background-color: #444;
}

@font-face {
  font-family: 'tf';
  src: url('../fonts/TF2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tfbuild';
  src: url('../fonts/tf2build.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    color: black;
  }
  
  h1 {
    text-align: center;
    font-family: tf;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 600px; 
    font-family: tfbuild;
    margin: auto; 
  }
  
  .ServerButton {
    background-color: #333;
    color: #2c2c2c;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    text-align: left;
    height: 25%;
  }
  
  .ServerButton:hover {
    background-color: #444;
  }
  
  .ServerDropdown {
    background-color: #222;
    color: #383737;
    border-radius: 5px;
    cursor: default;
  }
  
  .ServerDropdown ul {
    list-style: none;
    padding: 0;
  }
  
  .ServerDropdown li {
    margin: 5px 0;
  }

  ul {
    padding-inline-start: 0;
    list-style-type: none; 
    margin: 0; 
  }
  
  